
/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar);
    padding: 0.75rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    flex-wrap: wrap;
    font-size: small;
  }
  
  .navbar-logo img {
    /* height: 20px; */
    transition: transform 0.3s;
  }
  
  .navbar-logo img:hover {
    transform: scale(1.1);
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
  
    flex-wrap: wrap;
  }
  
  .navbar-links-responsive {
    gap: .3rem;
  }
  
  
  .navbar-links li {
    position: relative;
  }
  
  .navbar-links li a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    /* margin: 0 6px ; */
  }
  
  .navbar-links li a:hover,
  .active {
    background-color: var(--primary);
    color: #ffffff;
  }
  
  .search-bar {
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    background-color: var(--primary);
    color: #fff;
    transition: border-color 0.3s, background-color 0.3s;
    white-space: nowrap;
  }
  
  .search-bar:focus {
    border-color: #ffffff;
    background-color: var(--secondary);
    outline: none;
  }
  
  .navbar-links li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ffffff;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
  }
  
  .navbar-links li a:hover::after {
    width: 100%;
    left: 0;
    background-color: #ffffff;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links li {
      margin-bottom: 0.5rem;
    }
  
    .navbar {
      padding: 0.75rem 1rem;
    }
  }
  
  