@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;


  --page_background: #e5e8ea;
  --page_background2: #d7d7d7;
  --navbar: #061920;
  --primary: #05425e;
  --secondary: #022b3a;
  --text_color: #3f3f3f;
  --text_secondary_color: #545454;
  --card: #f1f3f5;
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text_color);
  background: var(--page_background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* texts */
.title {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Arial Black', sans-serif;
  color: var(--primary);
  /* animation: slideInFromTop 1.5s ease-in-out; */
  line-height: 1;
}


.subTitle {
  @apply text-4xl font-bold text-[#053b5e]
}

.text {
  @apply text-2xl font-bold text-[#15415fcf]
}


.active {
  @apply underline text-blue-950
}


/* btns */
.btn-primary {
  padding: .7rem 1rem;
  border-radius: .8rem;
  font-size: medium;
  text-transform: none;
  transition: background-color 0.3s, color 0.3s;
  /* box-shadow: 0 5px 26px -14px rgb(6 4 4); */
  white-space: nowrap;
  color: #fff;
  background: var(--primary);
  border: 2px solid var(--secondary);
}

.btn-primary:hover {
  background-color: var(--secondary);
  color: #fff;
  border: 2px solid var(--primary);
}

.btn-secondary {
  padding: .7rem 1rem;
  border-radius: .8rem;
  font-size: medium;
  text-transform: none;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  /* box-shadow: 0 5px 26px -14px rgb(6 4 4); */
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);
}

.btn-secondary:hover {
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  color: #fff;
}


.btn-animation {
  animation: slideInFromBottom 2s ease-in-out;
}













.welcome-section {
  display: flex;
  justify-content: center;
  background: var(--page_background);
  color: var(--text_color);
  text-align: center;
  overflow: hidden;
}

.welcome-content {
  padding: 1rem;
  max-width: 1000px;
}

.welcome-content p, .text_style {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: justify;
  /* animation: fadeInText 2s ease-in-out; */
}

.welcome-buttons {
  margin-top: 2rem;
  gap: 1rem;
  /* animation: slideInFromBottom 2s ease-in-out; */
}





.gradient-card {
  background: linear-gradient(to left, transparent, var(--primary)) var(--text_color)
}




/* Animate of titles */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}